.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .inputGroup {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-family: 'Jura', sans-serif;
  }

  .inputGroup input {
    font-family: 'Jura', sans-serif;
    height: 40px;
    padding: 5px 15px;
    font-size: 18px;
    }

    .inputGroup textarea {
      resize: none;
      font-family: 'Jura', sans-serif;
      padding: 5px 15px;
      font-size: 18px;
    }

    .longMessageGroup {
        height: 100px;
    }
  
  .inputLabel {
    text-align: left;
  }
  
  .inputField {
    height: 30px;
  }

  .companyInfo {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-family: 'Jura', sans-serif;
    color: #f08da8;
    font-weight: bold;
  }

  @media (max-width: 800px) {
    .inputGroup {
      width: 70%;
    }
  }